.player{
    border: 2px solid black;
    margin: 30px;
    width: 350px;
    height: 430px;
}
.players-div{
    display: flex;
}
.image-for-game{
    width: 93%;
    height: 80%;
    margin: 10px;
    border: solid black;
}
.vs-sign{
    margin-top: 10%;
    font-weight: bold;
    font-size: 180px;
}
.player h1{
    margin: 0px;
}

.rows{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 30px;
    justify-content: space-between;
}
.left-answer{
    margin-right: 70px;
}
.right-answer{
    margin-left: 70px;
}
.scores{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2{
    margin: 0;
    font-size: 90px;
  }